.black {
    display: flex;
    background-image: url(../../assets/img/black_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 50px;
}

.contact {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.say {
    display: flex;
    font-family: Syne-ExtraBold, sans-serif;
    font-size: 78px;
    color: white;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form_name {
    display: flex;
    width: 617px;
    height: 50px;
    padding: 15px 25px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0px solid #000;
    border-bottom: 2px solid var(--cream, #FFFCF3);
    background: var(--black, #000);
    outline: none;
    color: white;
    font-size: 16px;
    font-family: Overpass-Regular, sans-serif;
    &:focus {
        border: 4px solid var(--cream, #FFFCF3);
    }
}

.form_email {
    display: flex;
    width: 617px;
    height: 50px;
    padding: 15px 25px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0px solid #000;
    border-bottom: 2px solid var(--cream, #FFFCF3);
    background: var(--black, #000);
    outline: none;
    color: white;
    font-size: 16px;
    font-family: Overpass-Regular, sans-serif;
    margin-top: 20px;
    &:focus {
        border: 4px solid var(--cream, #FFFCF3);
    }
}

.form_area {
    
    display: flex;
    width: 617px;
    height: 202px;
    padding: 15px 25px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border: 0px solid #000;
    border-bottom: 2px solid var(--cream, #FFFCF3);
    background: var(--black, #000);
    outline: none;
    color: white;
    font-size: 16px;
    font-family: Overpass-Regular, sans-serif;
    margin-top: 20px;
    &:focus {
        border: 4px solid var(--cream, #FFFCF3);
    }
}

.want {
    display: flex;
    text-align: center;
    font-family: Overpass-Bold, sans-serif;
    color: #00BC8F;
    font-size: 32px;
    margin-top: 50px;
}

.say_hello {
    display: flex;
    text-align: center;
    font-family: Overpass-Regular, sans-serif;
    color: white;
    font-size: 23px;
    margin-bottom: 50px;
}

.send {
    display: flex;
    font-family: Overpass-regular, sans-serif;
    padding: 20px 60px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    justify-content: center;
    width: fit-content;
    background-color: black;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    transition: all 125ms ease-in-out;


    &:hover {
        padding: 20px 80px;
        font-family: Overpass-Bold, sans-serif;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    width: 100%;
}

.github {
    display: flex;
    background-image: url(../../assets/img/github.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: translateY(-10px);
    }
}

.email {
    display: flex;
    background-image: url(../../assets/img/email.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: translateY(-10px);
    }
}

.linkedin {
    display: flex;
    background-image: url(../../assets/img/linkedin.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: translateY(-10px);
    }
}

.social {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: flex-end;
}

.log {
    display: flex;
    background-image: url(../../assets/img/logo.svg);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    filter: invert(1);
}

.logo_copy {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.copy {
    font-family: Overpass-Light, sans-serif;
    font-size: 13px;
    color: white;
}

.imprint {
    margin-top: 10px;
    font-family: Overpass-Light, sans-serif;
    font-size: 13px;
    color: white;
}

.imprint_link {
    font-family: Overpass-Light, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.space_4 {
    display: flex;
    height: 80px;
    transition: all 0.25s ease-in-out;
}

.hook {
    background-image: url(../../assets/img/hook.svg);
    background-repeat: no-repeat;
    background-position-x: 580px;
    background-position-y: 12px;
}

.mark {
    background-image: url(../../assets/img/mark.svg);
    background-repeat: no-repeat;
    background-position-x: 580px;
    background-position-y: 12px;
}

.error {
    display: none;
    font-family: Overpass-Light, sans-serif;
    font-size: 13px;
    color: #E61C40;
    width: 617px;
    margin-top: 10px;
}

.show {
    display: flex;
}

@media (max-width: 1285px) {

}

@media (max-width: 768px) {
    .form_email {
        width: 250px;
    }

    .form_area {
        width: 250px;
    }

    .form_name {
        width: 250px;
    }

    .contact {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        flex-direction: column;
        align-items: center;
    }

    .send {
        padding: 20px 20px;
        &:hover {
            padding: 20px 40px;
            font-family: Overpass-Bold, sans-serif;
        }
    }

    .say {
        font-size: 35px;
    }

    .black {
        width: 100%;
        flex-direction: column;
        padding-top: 70px;
        padding-left: 30px;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 10px;
        width: 100%;
        align-items: center;
    }

    .logo_copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .hook {
        background-image: url(../../assets/img/hook.svg);
        background-repeat: no-repeat;
        background-position-x: 220px;
        background-position-y: 12px;
    }

    .mark {
        background-image: url(../../assets/img/mark.svg);
        background-repeat: no-repeat;
        background-position-x: 220px;
        background-position-y: 12px;
    }

    .error {
        width: 250px;
    }
}

