<div class="top {{ h100 }}">
    <div class="tmenu">
        <a class="logo" routerLink=""></a>
        <div class="burger">
            <div *ngIf="toggle" class="cross" (click)="openMenu()"><img src="../../assets/img/burger.svg" alt=""></div>
            <div *ngIf="!toggle" class="cross" (click)="openMenu()"><img src="../../assets/img/close.svg" alt=""></div>
        </div>
    </div>
    <div class="options {{ options }}">
        <a class="menu_button" href="#about_me" (click)="openMenu()">About Me</a>
        <a class="menu_button" href="#skills" (click)="openMenu()">My Skills</a>
        <a class="menu_button" href="#portfolio" (click)="openMenu()">Portfolio</a>
    </div>
</div>