.arrow_lb {
    display: flex;
    width: 100%;
    min-height: 250px;
    background-image: url(../../assets/img/arrow-lb-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 750px;

    &:hover {
        animation: scrolling_lb 1.5s infinite;
    }
}

@keyframes scrolling_lb {
    from {
        background-position-x: 1000px;
        background-position-y: -250px;
    }

    to {
        background-position-x: 750px;
        background-position-y: 0px;
    }
}

.my_skills {
    margin-top: 50px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.my_skills_txt {
    display: flex;
    justify-content: center;
    font-family: Syne-ExtraBold, sans-serif;
    font-size: 78px;
    background-color: white;
    margin-top: -55px;
    width: 550px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    max-width: 75px;
    justify-content: center;
    text-align: center;
    margin: 80px;

    &:hover {
        color: #00BC8F;
    }
}

@keyframes skilling {
    0% {
        background-position-x: 0px;
    }

    33% {
        background-position-x: 50px;
        transform: scale(0.9);
    }

    66% {
        background-position-x: -50px;
        transform: scale(0.9);
    }

    100% {
        background-position-x: 0px;
    }
}

.skill_img {
    display: flex;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        animation: skilling 0.4s ease-in-out;
    }
}

.skill_box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.angular {
    background-image: url(../../assets/img/angular.svg);
}

.typescript {
    background-image: url(../../assets/img/typescript.svg);
}

.javascript {
    background-image: url(../../assets/img/javascript.svg);
}

.html {
    background-image: url(../../assets/img/html.svg);
}

.css {
    background-image: url(../../assets/img/css.svg);
}

.firebase {
    background-image: url(../../assets/img/firebase.svg);
}

.git {
    background-image: url(../../assets/img/git.svg);
}

.scrum {
    background-image: url(../../assets/img/scrum.svg);
}

.rest {
    background-image: url(../../assets/img/rest.svg);
}

.material {
    background-image: url(../../assets/img/material.svg);
}

.skill_txt {
    display: flex;
    margin-top: 10px;
    font-family: Overpass-Black, sans-serif;
    font-size: 16px;
}

.space_2 {
    display: flex;
    height: 80px;
}

@media (max-width: 1285px) {
    .top {
        height: 0px;
    }

    .arrow_lb {
        background-position-x: 500px;

        &:hover {
            animation: scrolling_lbt 1.5s infinite;
        }
    }

    @keyframes scrolling_lbt {
        from {
            background-position-x: 750px;
            background-position-y: -250px;
        }
    
        to {
            background-position-x: 500px;
            background-position-y: 0px;
        }
    }
}

@media (max-width: 768px) {
    .arrow_lb {
        background-position-x: 50px;

        &:hover {
            animation: scrolling_lbm 1.5s infinite;
        }
    }

    @keyframes scrolling_lbm {
        from {
            background-position-x: 300px;
            background-position-y: -250px;
        }
    
        to {
            background-position-x: 50px;
            background-position-y: 0px;
        }
    }

    .my_skills_txt {
        font-size: 32px;
        margin-top: -22px;
        width: 230px;
    }

    .skill {
        margin: 20px;
    }
}