<div class="margin_lr">
    <div class="top"></div>
    <div class="arrow_lb"></div>
    <div class="space_2" id="skills"></div>
    <div class="my_skills">
        <div class="my_skills_txt">My skills</div>
        <div class="skill_box">
            <div class="skill">
                <div class="skill_img angular"></div>
                <div class="skill_txt">Angular</div>
            </div>
            <div class="skill">
                <div class="skill_img typescript"></div>
                <div class="skill_txt">Typescript</div>
            </div>
            <div class="skill">
                <div class="skill_img javascript"></div>
                <div class="skill_txt">JavaScript</div>
            </div>
            <div class="skill">
                <div class="skill_img html"></div>
                <div class="skill_txt">HTML</div>
            </div>

            <div class="skill">
                <div class="skill_img css"></div>
                <div class="skill_txt">CSS</div>
            </div>
            <div class="skill">
                <div class="skill_img firebase"></div>
                <div class="skill_txt">Firebase</div>
            </div>
            <div class="skill">
                <div class="skill_img git"></div>
                <div class="skill_txt">Git</div>
            </div>
            <div class="skill">
                <div class="skill_img scrum"></div>
                <div class="skill_txt">Scrum</div>
            </div>
            <div class="skill">
                <div class="skill_img rest"></div>
                <div class="skill_txt">Rest-Api</div>
            </div>
            <div class="skill">
                <div class="skill_img material"></div>
                <div class="skill_txt">Material Design</div>
            </div>
        </div>
    </div>
</div>