.back {
    display: flex;
    margin-top: 50px;
    color: black;
    text-decoration: none;
    font-family: Overpass-regular, sans-serif;
    padding: 20px 60px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    width: fit-content;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        padding: 20px 80px;
    }
}

.title {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    font-family: Syne-ExtraBold, sans-serif;
    font-size: 32px;
    text-align: center;

    &:hover {
        color: #00BC8F;
        ;
    }
}

.content {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

@media (max-width: 1285px) {
    .title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 15px;
    }
}