<div class="margin_lr vh_100">
    <div class="front_dev">
        <div class="frontend">Frontend</div>
        <div class="frontend">Developer</div>
        <div class="line_name">
            <div class="line"></div>
            <div class="name">Henrik Hefelmann</div>
        </div>
    </div>
    <a class="side_email" href="mailto:henrik.hefelmann@gmail.com">henrik.hefelmann@gmail.com</a>
    <div class="scroll_down">
        <div class="scroll_down_ani"></div>
        <div class="scroll_down_txt">Scroll Down</div>
    </div>
</div>
<div class="margin_lr">
    <div class="space_1" id="about_me"></div>
    <div class="about_me_and_img">
        <div class="about_me">
            <div class="about_me_title">About me</div>
            <div class="about_me_txt">
                <p>I am a Front-end deverloper based in Konstanz, Germany. I help designers and companies
                    to bring their ideas to real life. Creativity and logical thinking are skills that I have developed
                    to connect ideas into quality products.</p>
                <p>If you think I'd be a good match for your projects, contact me!</p>
            </div>
            <a class="about_me_button" href="#say">Let's Talk</a>
        </div>
        <div class="about_me_img_and_canvas">
            <div class="about_me_box"></div>
            <img src="../../assets/img/henrik-hefelmann-foto-1.jpg" alt="" class="about_me_img">
        </div>
    </div>
</div>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-top-menu></app-top-menu>