/* You can add global styles to this file, and also import other style files */
@font-face { 
    font-family: "Overpass-ExtraBold"; 
    src: url(assets/fonts/overpass/Overpass-ExtraBold.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Black"; 
    src: url(assets/fonts/overpass/Overpass-Black.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Bold";
    src: url(assets/fonts/overpass/Overpass-Bold.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-ExtraLight"; 
    src: url(assets/fonts/overpass/Overpass-ExtraLight.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Light"; 
    src: url(assets/fonts/overpass/Overpass-Light.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Medium"; 
    src: url(assets/fonts/overpass/Overpass-Medium.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Regular"; 
    src: url(assets/fonts/overpass/Overpass-Regular.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-SemiBold"; 
    src: url(assets/fonts/overpass/Overpass-SemiBold.ttf) format("truetype");
}
@font-face { 
    font-family: "Overpass-Thin"; 
    src: url(assets/fonts/overpass/Overpass-Thin.ttf) format("truetype");
}
@font-face { 
    font-family: "Syne-Bold"; 
    src: url(assets/fonts/syne/Syne-Bold.ttf) format("truetype");
}
@font-face { 
    font-family: "Syne-ExtraBold"; 
    src: url(assets/fonts/syne/Syne-ExtraBold.ttf) format("truetype");
}
@font-face { 
    font-family: "Syne-Medium"; 
    src: url(assets/fonts/syne/Syne-Medium.ttf) format("truetype");
}
@font-face { 
    font-family: "Syne-Regular"; 
    src: url(assets/fonts/syne/Syne-Regular.ttf) format("truetype");
}
@font-face { 
    font-family: "Syne-SemiBold"; 
    src: url(assets/fonts/syne/Syne-SemiBold.ttf) format("truetype");
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Overpass-Regular, sans-serif;
}

* {
    box-sizing: border-box;
}

.margin_lr {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.vh_100 {
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1285px) {
    .margin_lr {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        overflow: hidden;
    }
}